/* Header */
div#header { width:auto; background: transparent; margin: 0 0 10px 0; }

div#header .top, div#header .bot {display:block; background:transparent; font-size:1px;}
div#header .b1t {margin:0 6px; display:block; overflow:hidden; height:5px; background:#54AFD0; border-left:1px solid #54AFD0; border-right:1px solid #54AFD0; border-top:1px solid #54AFD0;}
div#header .top .b2 {display:block; height:1px; margin:0; background:#54AFD0; border-left:7px solid #54AFD0; border-right:7px solid #54AFD0; overflow:hidden;}
div#header .bot .b2 {display:block; height:1px; margin:0; background:#54AFD0; border-left:7px solid #54AFD0; border-right:7px solid #54AFD0; overflow:hidden;}
div#header .bot {margin-bottom:3px}
div#header .b1b {margin:0 6px; display:block; overflow:hidden; height:5px; background:#54AFD0; border-left:1px solid #54AFD0; border-right:1px solid #54AFD0; border-bottom:1px solid #54AFD0;}

div#header .blockTitle {display:block; background:#54AFD0; border-left:1px solid #54AFD0; border-right:1px solid #54AFD0;}
div#header .blockTitle {padding:0 0 6px 0;color: #FFFFFF; background:#54AFD0; text-indent: 10px; font-variant:small-caps; font-weight:bold;}
div#header .blockContent {display:block; background:#54AFD0; border-left:1px solid #54AFD0; border-right:1px solid #54AFD0;}
div#header .Content {padding:2px 6px 2px 6px;}

div#header .HeaderTitle a{ color: #000000; line-height: 1em; font-weight: bold; font-size: 40px; font-family: Georgia,Times; cursor: hand}
div#header .HeaderTitle a:link { text-decoration: none }
div#header .HeaderTitle a:active {text-decoration: none}
div#header .HeaderTitle a:visited {text-decoration: none}
div#header .HeaderTitle a:hover  {color: #FFFFFF; text-decoration: none}

div#header .HeaderMenu {margin: 0 5px 0 0; text-align: right;}
div#header .HeaderMenu a{color: #FFFFFF; padding:0 10px; font-weight: bold; font-size: small; cursor: hand}
div#header .HeaderMenu a:link { text-decoration: none }
div#header .HeaderMenu a:active {text-decoration: none}
div#header .HeaderMenu a:visited {text-decoration: none}
div#header .HeaderMenu a:hover  {background: #FFFFFF; color: #000000; text-decoration: none}

/* Footer */
div#footer { width:100%; float:left; background: transparent; margin:50px 0px 3px 0px; }

div#footer .top, div#footer .bot {display:block; background:transparent; font-size:1px;}
div#footer .b1t {margin:0 6px; display:block; overflow:hidden; height:5px; background:#54AFD0; border-left:1px solid #54AFD0; border-right:1px solid #54AFD0; border-top:1px solid #54AFD0;}
div#footer .top .b2 {display:block; height:1px; margin:0; background:#54AFD0; border-left:7px solid #54AFD0; border-right:7px solid #54AFD0; overflow:hidden;}
div#footer .bot .b2 {display:block; height:1px; margin:0; background:#54AFD0; border-left:7px solid #54AFD0; border-right:7px solid #54AFD0; overflow:hidden;}
div#footer .bot {margin-bottom:3px}
div#footer .b1b {margin:0 6px; display:block; overflow:hidden; height:5px; background:#54AFD0; border-left:1px solid #54AFD0; border-right:1px solid #54AFD0; border-bottom:1px solid #54AFD0;}

div#footer .blockTitle {display:block; background:#54AFD0; border-left:1px solid #54AFD0; border-right:1px solid #54AFD0;}
div#footer .blockTitle {padding:0 0 6px 0;color: #FFFFFF; background:#54AFD0; text-indent: 10px; font-variant:small-caps; font-weight:bold;}
div#footer .blockContent {display:block; background:#54AFD0; border-left:1px solid #54AFD0; border-right:1px solid #54AFD0;}
div#footer .blockContent {width:auto; color:#FFFFFF; background:#54AFD0; font-weight: bold; text-align:center}
div#footer .blockContent a {color:#000000; background:#54AFD0; }
div#footer .blockContent a:link { text-decoration: none }
div#footer .blockContent a:active {text-decoration: none}
div#footer .blockContent a:visited {text-decoration: none}
div#footer .blockContent a:hover  {color: #FF0000; text-decoration: none}
div#footer .Content {padding:2px 6px 2px 6px;}

/* Left Block */
div#leftcolumn {float:left; background: transparent; margin:0; width:160px;}

div#leftcolumn .top, div#leftcolumn .bot {display:block; background:transparent; font-size:1px;}
div#leftcolumn .top .b1t {margin:0 6px; display:block; overflow:hidden; height:5px; background:#54AFD0; border-left:1px solid #54AFD0; border-right:1px solid #54AFD0; border-top:1px solid #54AFD0;}
div#leftcolumn .top2 .b1t {margin:0 6px; display:block; overflow:hidden; height:5px; background:#FFFFFF; border-left:1px solid #54AFD0; border-right:1px solid #54AFD0; border-top:1px solid #54AFD0;}
div#leftcolumn .top .b2 {display:block; height:1px; margin:0; background:#54AFD0; border-left:7px solid #54AFD0; border-right:7px solid #54AFD0; overflow:hidden;}
div#leftcolumn .top2 .b2 {display:block; height:1px; margin:0; background:#FFFFFF; border-left:7px solid #54AFD0; border-right:7px solid #54AFD0; overflow:hidden;}
div#leftcolumn .bot .b2 {display:block; height:1px; margin:0; background:#54AFD0; border-left:7px solid #54AFD0; border-right:7px solid #54AFD0; overflow:hidden;}
div#leftcolumn .bot {margin-bottom:3px}
div#leftcolumn .b1b {margin:0 6px; display:block; overflow:hidden; height:5px; background:#54AFD0; border-left:1px solid #54AFD0; border-right:1px solid #54AFD0; border-bottom:1px solid #54AFD0;}

div#leftcolumn .blockTitle {display:block; background:#54AFD0; border-left:1px solid #54AFD0; border-right:1px solid #54AFD0;}
div#leftcolumn .blockTitle {padding:0;color: #FFFFFF; background:#54AFD0; text-indent: 10px; font-variant:small-caps; font-weight:bold;}
div#leftcolumn .blockContent {display:block; background:#54AFD0; border-left:1px solid #54AFD0; border-right:1px solid #54AFD0;}

div#LeftContent {background: transparent; padding:3px 6px 1px 6px; width:auto;}

div#LeftContent .top, div#LeftContent .bot {display:block; background:transparent; font-size:1px;}
div#LeftContent .top .b1t {margin:0 6px; display:block; overflow:hidden; height:5px; background:#FFFFFF; border-left:1px solid #54AFD0; border-right:1px solid #54AFD0; border-top:1px solid #54AFD0;}
div#LeftContent .top2 .b1t {margin:0 6px; display:block; overflow:hidden; height:5px; background:#FFFFFF; border-left:1px solid #54AFD0; border-right:1px solid #54AFD0; border-top:1px solid #54AFD0;}
div#LeftContent .top .b2 {display:block; height:1px; margin:0; background:#FFFFFF; border-left:7px solid #54AFD0; border-right:7px solid #54AFD0; overflow:hidden;}
div#LeftContent .top2 .b2 {display:block; height:1px; margin:0; background:#FFFFFF; border-left:7px solid #54AFD0; border-right:7px solid #54AFD0; overflow:hidden;}
div#LeftContent .bot .b2 {display:block; height:1px; margin:0; background:#FFFFFF; border-left:7px solid #54AFD0; border-right:7px solid #54AFD0; overflow:hidden;}
div#LeftContent .bot {margin-bottom:3px}
div#LeftContent .b1b {margin:0 6px; display:block; overflow:hidden; height:5px; background:#FFFFFF; border-left:1px solid #54AFD0; border-right:1px solid #54AFD0; border-bottom:1px solid #54AFD0;}

div#LeftContent .blockTitle {display:block; background:#54AFD0; border-left:1px solid #54AFD0; border-right:1px solid #54AFD0;}
div#LeftContent .blockTitle {padding:0 0 6px 0;color: #FFFFFF; background:#54AFD0; text-indent: 10px; font-variant:small-caps; font-weight:bold;}
div#LeftContent .blockContent {display:block; background:#FFFFFF; border-left:1px solid #54AFD0; border-right:1px solid #54AFD0;}
div#LeftContent .Content {padding:2px 6px 2px 6px;}

/* Right Block */
div#rightcolumn {float:right; background: transparent; margin:0; width:160px;}

div#rightcolumn .top, div#rightcolumn .bot {display:block; background:transparent; font-size:1px;}
div#rightcolumn .top .b1t {margin:0 6px; display:block; overflow:hidden; height:5px; background:#FFCC66; border-left:1px solid #FFCC66; border-right:1px solid #FFCC66; border-top:1px solid #FFCC66;}
div#rightcolumn .top2 .b1t {margin:0 6px; display:block; overflow:hidden; height:5px; background:#FFF9DB; border-left:1px solid #FFCC66; border-right:1px solid #FFCC66; border-top:1px solid #FFCC66;}
div#rightcolumn .top .b2 {display:block; height:1px; margin:0; background:#FFCC66; border-left:7px solid #FFCC66; border-right:7px solid #FFCC66; overflow:hidden;}
div#rightcolumn .top2 .b2 {display:block; height:1px; margin:0; background:#FFF9DB; border-left:7px solid #FFCC66; border-right:7px solid #FFCC66; overflow:hidden;}
div#rightcolumn .bot .b2 {display:block; height:1px; margin:0; background:#FFCC66; border-left:7px solid #FFCC66; border-right:7px solid #FFCC66; overflow:hidden;}
div#rightcolumn .bot {margin-bottom:3px}
div#rightcolumn .b1b {margin:0 6px; display:block; overflow:hidden; height:5px; background:#FFCC66; border-left:1px solid #FFCC66; border-right:1px solid #FFCC66; border-bottom:1px solid #FFCC66;}

div#rightcolumn .blockTitle {display:block; background:#FFCC66; border-left:1px solid #FFCC66; border-right:1px solid #FFCC66;}
div#rightcolumn .blockTitle {padding:0;color: #FFF9DB; background:#FFCC66; text-indent: 10px; font-variant:small-caps; font-weight:bold;}
div#rightcolumn .blockContent {display:block; background:#FFCC66; border-left:1px solid #FFCC66; border-right:1px solid #FFCC66;}

div#RightContent {background: transparent; padding:3px 6px 1px 6px; width:auto;}

div#RightContent .top, div#RightContent .bot {display:block; background:transparent; font-size:1px;}
div#RightContent .top .b1t {margin:0 6px; display:block; overflow:hidden; height:5px; background:#FFF9DB; border-left:1px solid #FFCC66; border-right:1px solid #FFCC66; border-top:1px solid #FFCC66;}
div#RightContent .top2 .b1t {margin:0 6px; display:block; overflow:hidden; height:5px; background:#FFF9DB; border-left:1px solid #FFCC66; border-right:1px solid #FFCC66; border-top:1px solid #FFCC66;}
div#RightContent .top .b2 {display:block; height:1px; margin:0; background:#FFF9DB; border-left:7px solid #FFCC66; border-right:7px solid #FFCC66; overflow:hidden;}
div#RightContent .top2 .b2 {display:block; height:1px; margin:0; background:#FFF9DB; border-left:7px solid #FFCC66; border-right:7px solid #FFCC66; overflow:hidden;}
div#RightContent .bot .b2 {display:block; height:1px; margin:0; background:#FFF9DB; border-left:7px solid #FFCC66; border-right:7px solid #FFCC66; overflow:hidden;}
div#RightContent .bot {margin-bottom:3px}
div#RightContent .b1b {margin:0 6px; display:block; overflow:hidden; height:5px; background:#FFF9DB; border-left:1px solid #FFCC66; border-right:1px solid #FFCC66; border-bottom:1px solid #FFCC66;}

div#RightContent .blockTitle {display:block; background:#FFCC66; border-left:1px solid #FFCC66; border-right:1px solid #FFCC66;}
div#RightContent .blockTitle {padding:0 0 6px 0;color: #FFF9DB; background:#FFCC66; text-indent: 10px; font-variant:small-caps; font-weight:bold;}
div#RightContent .blockContent {display:block; background:#FFF9DB; border-left:1px solid #FFCC66; border-right:1px solid #FFCC66;}
div#RightContent .Content {padding:2px 6px 2px 6px;}

/* Center Block */
div#centercolumn {width:auto;overflow:hidden;background: transparent; margin:0 4px 0 4px;}

/* CenterC Block */
div#centerCcolumn {width:auto;overflow:hidden;background: transparent;}

div#centerCcolumn .top, div#centerCcolumn .bot {display:block; background:transparent; font-size:1px;}
div#centerCcolumn .top .b1t {margin:0 6px; display:block; overflow:hidden; height:5px; background:#96CE5E; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E; border-top:1px solid #96CE5E;}
div#centerCcolumn .top2 .b1t {margin:0 6px; display:block; overflow:hidden; height:5px; background:#FFFFFF; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E; border-top:1px solid #96CE5E;}
div#centerCcolumn .top .b2 {display:block; height:1px; margin:0; background:#96CE5E; border-left:7px solid #96CE5E; border-right:7px solid #96CE5E; overflow:hidden;}
div#centerCcolumn .top2 .b2 {display:block; height:1px; margin:0; background:#FFFFFF; border-left:7px solid #96CE5E; border-right:7px solid #96CE5E; overflow:hidden;}
div#centerCcolumn .bot .b2 {display:block; height:1px; margin:0; background:#96CE5E; border-left:7px solid #96CE5E; border-right:7px solid #96CE5E; overflow:hidden;}
div#centerCcolumn .bot {margin-bottom:3px}
div#centerCcolumn .b1b {margin:0 6px; display:block; overflow:hidden; height:5px; background:#96CE5E; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E; border-bottom:1px solid #96CE5E;}

div#centerCcolumn .blockTitle {display:block; background:#96CE5E; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E;}
div#centerCcolumn .blockTitle {padding:0;color: #FFFFFF; background:#96CE5E; text-indent: 10px; font-variant:small-caps; font-weight:bold;}
div#centerCcolumn .blockContent {display:block; background:#96CE5E; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E;}

div#CenterCcontent {background: transparent; padding:3px 6px 1px 6px; width:auto;}

div#CenterCcontent .top, div#CenterCcontent .bot {display:block; background:transparent; font-size:1px;}
div#CenterCcontent .top .b1t {margin:0 6px; display:block; overflow:hidden; height:5px; background:#FFFFFF; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E; border-top:1px solid #96CE5E;}
div#CenterCcontent .top2 .b1t {margin:0 6px; display:block; overflow:hidden; height:5px; background:#FFFFFF; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E; border-top:1px solid #96CE5E;}
div#CenterCcontent .top .b2 {display:block; height:1px; margin:0; background:#FFFFFF; border-left:7px solid #96CE5E; border-right:7px solid #96CE5E; overflow:hidden;}
div#CenterCcontent .top2 .b2 {display:block; height:1px; margin:0; background:#FFFFFF; border-left:7px solid #96CE5E; border-right:7px solid #96CE5E; overflow:hidden;}
div#CenterCcontent .bot .b2 {display:block; height:1px; margin:0; background:#FFFFFF; border-left:7px solid #96CE5E; border-right:7px solid #96CE5E; overflow:hidden;}
div#CenterCcontent .bot {margin-bottom:3px}
div#CenterCcontent .b1b {margin:0 6px; display:block; overflow:hidden; height:5px; background:#FFFFFF; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E; border-bottom:1px solid #96CE5E;}

div#CenterCcontent .blockTitle {display:block; background:#96CE5E; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E;}
div#CenterCcontent .blockTitle {padding:0 0 6px 0;color: #FFFFFF; background:#96CE5E; text-indent: 10px; font-variant:small-caps; font-weight:bold;}
div#CenterCcontent .blockContent {display:block; background:#FFFFFF; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E;}
div#CenterCcontent .Content {padding:2px 6px 2px 6px;}

/* centerL Block */
div#centerLcolumn {width:49%;float:left;overflow:hidden;background: transparent;}

div#centerLcolumn .top, div#centerLcolumn .bot {display:block; background:transparent; font-size:1px;}
div#centerLcolumn .top .b1t {margin:0 6px; display:block; overflow:hidden; height:5px; background:#96CE5E; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E; border-top:1px solid #96CE5E;}
div#centerLcolumn .top2 .b1t {margin:0 6px; display:block; overflow:hidden; height:5px; background:#FFFFFF; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E; border-top:1px solid #96CE5E;}
div#centerLcolumn .top .b2 {display:block; height:1px; margin:0; background:#96CE5E; border-left:7px solid #96CE5E; border-right:7px solid #96CE5E; overflow:hidden;}
div#centerLcolumn .top2 .b2 {display:block; height:1px; margin:0; background:#FFFFFF; border-left:7px solid #96CE5E; border-right:7px solid #96CE5E; overflow:hidden;}
div#centerLcolumn .bot .b2 {display:block; height:1px; margin:0; background:#96CE5E; border-left:7px solid #96CE5E; border-right:7px solid #96CE5E; overflow:hidden;}
div#centerLcolumn .bot {margin-bottom:3px}
div#centerLcolumn .b1b {margin:0 6px; display:block; overflow:hidden; height:5px; background:#96CE5E; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E; border-bottom:1px solid #96CE5E;}

div#centerLcolumn .blockTitle {display:block; background:#96CE5E; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E;}
div#centerLcolumn .blockTitle {padding:0;color: #FFFFFF; background:#96CE5E; text-indent: 10px; font-variant:small-caps; font-weight:bold;}
div#centerLcolumn .blockContent {display:block; background:#96CE5E; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E;}

div#CenterLcontent {background: transparent; padding:3px 6px 1px 6px; width:auto;}

div#CenterLcontent .top, div#CenterLcontent .bot {display:block; background:transparent; font-size:1px;}
div#CenterLcontent .top .b1t {margin:0 6px; display:block; overflow:hidden; height:5px; background:#FFFFFF; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E; border-top:1px solid #96CE5E;}
div#CenterLcontent .top2 .b1t {margin:0 6px; display:block; overflow:hidden; height:5px; background:#FFFFFF; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E; border-top:1px solid #96CE5E;}
div#CenterLcontent .top .b2 {display:block; height:1px; margin:0; background:#FFFFFF; border-left:7px solid #96CE5E; border-right:7px solid #96CE5E; overflow:hidden;}
div#CenterLcontent .top2 .b2 {display:block; height:1px; margin:0; background:#FFFFFF; border-left:7px solid #96CE5E; border-right:7px solid #96CE5E; overflow:hidden;}
div#CenterLcontent .bot .b2 {display:block; height:1px; margin:0; background:#FFFFFF; border-left:7px solid #96CE5E; border-right:7px solid #96CE5E; overflow:hidden;}
div#CenterLcontent .bot {margin-bottom:3px}
div#CenterLcontent .b1b {margin:0 6px; display:block; overflow:hidden; height:5px; background:#FFFFFF; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E; border-bottom:1px solid #96CE5E;}

div#CenterLcontent .blockTitle {display:block; background:#96CE5E; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E;}
div#CenterLcontent .blockTitle {padding:0 0 6px 0;color: #FFFFFF; background:#96CE5E; text-indent: 10px; font-variant:small-caps; font-weight:bold;}
div#CenterLcontent .blockContent {display:block; background:#FFFFFF; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E;}
div#CenterLcontent .Content {padding:2px 6px 2px 6px;}

/* centerR Block */
div#centerRcolumn {width:49%;float:right;overflow:hidden;background: transparent;}

div#centerRcolumn .top, div#centerRcolumn .bot {display:block; background:transparent; font-size:1px;}
div#centerRcolumn .top .b1t {margin:0 6px; display:block; overflow:hidden; height:5px; background:#96CE5E; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E; border-top:1px solid #96CE5E;}
div#centerRcolumn .top2 .b1t {margin:0 6px; display:block; overflow:hidden; height:5px; background:#FFFFFF; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E; border-top:1px solid #96CE5E;}
div#centerRcolumn .top .b2 {display:block; height:1px; margin:0; background:#96CE5E; border-left:7px solid #96CE5E; border-right:7px solid #96CE5E; overflow:hidden;}
div#centerRcolumn .top2 .b2 {display:block; height:1px; margin:0; background:#FFFFFF; border-left:7px solid #96CE5E; border-right:7px solid #96CE5E; overflow:hidden;}
div#centerRcolumn .bot .b2 {display:block; height:1px; margin:0; background:#96CE5E; border-left:7px solid #96CE5E; border-right:7px solid #96CE5E; overflow:hidden;}
div#centerRcolumn .bot {margin-bottom:3px}
div#centerRcolumn .b1b {margin:0 6px; display:block; overflow:hidden; height:5px; background:#96CE5E; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E; border-bottom:1px solid #96CE5E;}

div#centerRcolumn .blockTitle {display:block; background:#96CE5E; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E;}
div#centerRcolumn .blockTitle {padding:0;color: #FFFFFF; background:#96CE5E; text-indent: 10px; font-variant:small-caps; font-weight:bold;}
div#centerRcolumn .blockContent {display:block; background:#96CE5E; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E;}

div#CenterRcontent {background: transparent; padding:3px 6px 1px 6px; width:auto;}

div#CenterRcontent .top, div#CenterRcontent .bot {display:block; background:transparent; font-size:1px;}
div#CenterRcontent .top .b1t {margin:0 6px; display:block; overflow:hidden; height:5px; background:#FFFFFF; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E; border-top:1px solid #96CE5E;}
div#CenterRcontent .top2 .b1t {margin:0 6px; display:block; overflow:hidden; height:5px; background:#FFFFFF; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E; border-top:1px solid #96CE5E;}
div#CenterRcontent .top .b2 {display:block; height:1px; margin:0; background:#FFFFFF; border-left:7px solid #96CE5E; border-right:7px solid #96CE5E; overflow:hidden;}
div#CenterRcontent .top2 .b2 {display:block; height:1px; margin:0; background:#FFFFFF; border-left:7px solid #96CE5E; border-right:7px solid #96CE5E; overflow:hidden;}
div#CenterRcontent .bot .b2 {display:block; height:1px; margin:0; background:#FFFFFF; border-left:7px solid #96CE5E; border-right:7px solid #96CE5E; overflow:hidden;}
div#CenterRcontent .bot {margin-bottom:3px}
div#CenterRcontent .b1b {margin:0 6px; display:block; overflow:hidden; height:5px; background:#FFFFFF; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E; border-bottom:1px solid #96CE5E;}

div#CenterRcontent .blockTitle {display:block; background:#96CE5E; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E;}
div#CenterRcontent .blockTitle {padding:0 0 6px 0;color: #FFFFFF; background:#96CE5E; text-indent: 10px; font-variant:small-caps; font-weight:bold;}
div#CenterRcontent .blockContent {display:block; background:#FFFFFF; border-left:1px solid #96CE5E; border-right:1px solid #96CE5E;}
div#CenterRcontent .Content {padding:2px 6px 2px 6px;}

/* --------------------------------------------------------------------------------------------------------------*/
body {color: #1B43B0; background: white; margin: 2px; padding: 0;}
body td, p, div {font-family: verdana, arial, helvetica; font-size: 11px;}
pre , code {margin: 0px; padding: 0px; }
form {margin: auto;}

table {width: 100%; margin: 0; padding: 0;}
table td {padding: 0; border-width: 0; vertical-align: top; font-family: Verdana, Arial, Helvetica, sans-serif;}

a:link    {color: #1B43B0; text-decoration: none}
a:active {color: #1B43B0; text-decoration: none}
a:visited {color: #1B43B0; text-decoration: none}
a:hover  {color: #CC0000; text-decoration: none}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
ul { margin: 2px; padding: 2px; list-style: decimal inside; text-align: left;}
li { margin-left: 2px; list-style: square inside; color: #1B43B0; text-align: left;}

.item {}
.item_col {color: #384149; border: 1px solid #C4CAD0; background-color: #FFFFFF; margin: 3px; }
.itemHead {padding: 3px; color: #1B43B0; background-color: #CCDDFF; font-weight: bold; border-bottom: 1px solid #1B43B0; border-top: 1px solid #1B43B0;}
.itemInfo {padding: 3px 10px 3px 10px; background-color: #D5E5F8; vertical-align: middle;}
.itemTitle a {font-size: 130%; font-weight: bold; font-variant: small-caps; background-color: transparent;}
.itemPoster {font-size: 90%; }
.itemPostDate {font-size: 90%;}
.itemStats {font-size: 90%;}
.itemBody {padding-left: 10px; padding-right: 10px; height: auto;}
.itemText {margin-top: 5px; margin-bottom: 5px; line-height: 130%;}
.itemText:first-letter {font-size: 133%; font-weight: bold;}
.itemFoot {padding: 3px 10px 3px 10px; background-color: #D5E5F8; vertical-align: middle;}
.itemAdminLink {font-size: 90%;}
.itemPermaLink {font-size: 90%;}
.fieldclass {border:1px solid #1B43B0; margin:5px; padding:5px}


table#top {margin-bottom:5px;}
th {background-color: #2F5376; color: #FFFFFF; padding : 2px; vertical-align : middle; font-family: Verdana, Arial, Helvetica, sans-serif;}

td#slogan {padding:2px 2px 2px 10px; height: 20px; color: #FFFFFF; background-color:#1B43B0; vertical-align: middle; text-align: left; font-weight:bold; width:100%;}
td#headerleft {vertical-align: top; text-align:center; padding: 0px; width:160px;}
td#headerlogo {vertical-align: middle; text-align:center; padding: 0px; width:160px;}
td#headerbanner {background-color: transparent; vertical-align: top; text-align:right; padding:5px; width:100%;}
td#headermenu {padding:0px; margin: 0; width: 170px; height: 20px; vertical-align: middle; text-align: right; background-color:#1B43B0; white-space: nowrap ; }

table#middle {margin-bottom:5px; width: 99%}

td#leftcolumn {background-color: #D5E5F8; border:1px solid #1B43B0; }
td#leftcolumn th {background-color: #1B43B0; color: #FFFFFF; vertical-align: middle;}
td#leftcolumn div.blockTitle {padding: 2px 1px 2px 1px; background-color: #1B43B0; color: #FFFFFF; font-weight:bold; font-size: 10px;}
td#leftcolumn div.blockContent {padding: 2px 1px 2px 1px; }

td#mainmenu {padding:0px; margin: 0; width: 100%; vertical-align: middle;}
td#mainmenu a {padding: 1px 0px 1px 5px; }
td#mainmenu a:hover {background-color: #1B43B0; color: #FFFFFF}
td#mainmenu a.menuTop {}
td#mainmenu a.menuMain {}
td#mainmenu a.menuSub {padding-left: 9px; }


td#usermenu {padding:0px; margin: 0; width: 100%; height: 20px; vertical-align: middle;}
td#usermenu a {padding: 1px 0px 1px 5px; }
td#usermenu a:hover {background-color: #1B43B0; color: #FFFFFF}
td#usermenu a.menuTop {}
td#usermenu a.highlight {background-color: #fcc;}

td#centercolumn {font-size: 12px; padding: 0px; width: 100%;}
td#centercolumn legend.blockTitle {padding: 3px 5px; background-color: #1B43B0; color: #FFFFFF; font-weight:bold;margin-top: 0px; margin-right: 0px;  margin-left: 0px;}
td#centercolumn img.separate {padding: 10px 0px 10px 0px; margin: 0px; width: 100%; height: 1px; }

td#centercolumn th {background-color: #1B43B0; color: #FFFFFF;  vertical-align: middle;}
td#centerCcolumn {padding: 0px 3px 1px 3px;}
td#centerCcolumn legend.blockTitle {padding: 3px 5px; background-color: #1B43B0; color: #FFFFFF; font-weight:bold;margin-top: 0px; margin-right: 0px;  margin-left: 0px;}
td#centerCcolumn div.blockContent {padding: 3px; margin-right: 0px;  margin-left: 0px; margin-bottom: 2px; line-height: 130%;}

td#centerLcolumn {width: 50%; padding: 0px 3px 0px 0px;}
td#centerLcolumn legend.blockTitle {padding: 3px 5px; background-color: #1B43B0; color: #FFFFFF; font-weight:bold;margin-top: 0px; margin-right: 0px;  margin-left: 0px;}
td#centerLcolumn div.blockContent {padding: 3px; margin-left: 3px; margin-right: 2px; margin-bottom: 2px; line-height: 130%;}

td#centerRcolumn {width: 50%; padding: 0px 3px 0px 0px;}
td#centerRcolumn legend.blockTitle {padding: 3px 5px; background-color: #1B43B0; color: #FFFFFF; font-weight:bold;margin-top: 0px; margin-right: 0px;  margin-left: 0px;}
td#centerRcolumn div.blockContent {padding: 3px; margin-left: 2px; margin-right: 3px; margin-bottom: 2px; line-height: 130%;}

div#content {text-align: left; padding: 8px;}

td#rightcolumn {background-color: #D5E5F8; border:1px solid #1B43B0; width: 170px;white-space: nowrap ;}
td#rightcolumn th {background-color: #1B43B0; color: #FFFFFF; vertical-align: middle;}
td#rightcolumn div.blockTitle {padding: 2px 1px 2px 1px; background-color: #1B43B0; color: #FFFFFF; font-weight:bold; font-size: 10px; }
td#rightcolumn div.blockContent  {padding: 2px 5px 2px 5px; }

.outer {border: 1px solid #EEEEFF;}
.head {background-color: #D5E5F8; padding: 5px; font-weight: bold;}
.even {background-color: #EEF6FF; padding: 5px;}
.odd {background-color: #FFFFFF; padding: 5px;}
.foot {background-color: #D5E5F8; padding: 5px; font-weight: bold;}
tr.even td {background-color: #EEF6FF; padding: 5px;}
tr.odd td {background-color: #FFFFFF; padding: 5px;}

div.errorMsg { background-color: #FFCCCC; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.confirmMsg { background-color: #DDFFDF; color: #136C99; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.resultMsg { background-color : #CCCCCC; color: #333333; text-align: center; border-top: 1px solid silver; border-left: 1px solid silver; font-weight: bold; border-right: 1px solid #666666; border-bottom: 1px solid #666666; padding: 10px;}

div.xoopsCode { color: #000000; background: #F0F0F0; font-weight: normal; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; margin : 2px 0px 0px 20px; padding: 2px 5px 2px 5px; width: 600px; height: auto; overflow: scroll; }

div.xoopsQuote { background: #FFFFFF; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; margin : 0px 20px 0px 20px; padding: 2px 5px 2px 5px;}

.comTitle {font-weight: bold; margin-bottom: 2px;}
.comText {padding: 2px;}
.comUserStat {font-size: 10px; color: #2F5376; font-weight:bold; border: 1px solid silver; background-color: #ffffff; margin: 2px; padding: 2px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 2px; margin-top: 10px; color: #2F5376; font-weight:bold; font-size: 10px;}
.comUserRank {margin: 2px;}
.comUserRankText {font-size: 10px;font-weight:bold;}
.comUserRankImg {border: 0px none;}
.comUserName {}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: smaller}
.comDateCaption {font-weight: bold; font-style: normal;}

.search_block {margin: 0px;}
#notifs_form {display: none;}